<% if !@user.nil? %>
    <h1>Files</h1>
    <% if @files.count > 0 %>
    <table>
      <% @files.each do |each_file| %>
          <tr>
            <td><%= each_file.name %></td>
            <td><%= link_to 'Delete', file_path(each_file), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
    <% else %>
     <p>No files uploaded!</p>
    <% end %>
    <p>
    <%= form_tag({action: :upload}, multipart: true) do %>
        <%= file_field_tag 'upload' %>
        <p class="button"><%= submit_tag "Submit" %>
    <% end %>
    </p>
<% end %>


